*{
  margin:0px;
  padding:0px;
  font-family:"Work Sans", sans-serif; 
}

.btn{
  height: 64px;
  width: 160px;
  border-radius: 5px;
  margin-top: 32px;
  border: none;
  font-weight: 700;
}

.card{
  height: 300px;
  max-width: 1300px;
  margin: 0px auto;
  box-shadow: 1px 5px 80px 0 rgb(179, 178, 178);
  border-radius: 5px;
}

.card-container-card{
 text-align: center;
}

.card-container-card h2{
font-style: Bold;
font-size: 30px;
font-weight: 700;
}

.card-container-card p{font-size: 25px;
font-weight: 500;
line-height: 29px;
color:  rgba(115, 114, 114, 1);
}
       /* Separate */


header{
  width: 100%;
  max-width:1600px;
  height:809px;
  background: url('images/banner/banner2.png');
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: flex-end;
}

nav{

  margin-top: 216px;
  margin-right: 230px;
  height: 366px;
  width: 525px;
  max-width: 525px;
  max-height: 366px;
}
header .bold-text p{
  text-align: right;
  font-size:65px ;
  font-weight: bold;
}
.small-text{
  height: 78px;
  width: 494px;
  max-height: 78px;
  max-width: 494px;
}
header .small-text p{
  text-align: right;
  font-size:16px ;
  margin-top: 24px;
  color: rgba(68, 67, 67, 1);
  line-height: 26px;
}

.first-btn{

  background-color: rgba(241, 91, 34, 1);
  color:white;
  margin-left: 334px;
}

.img-sec{
  height: 724px;
  width: 1072px;
  display: flex;
  
  margin-left: 200px;
  margin-top: 130px;
  margin-right: 430px;
  justify-content: center;
  align-items: flex-end;
}

.ellipse{
  width: 100%;
  
}
.ellipse picture img{
  vertical-align: middle;
}
.container-card{
  width: 416px;
  height: 400px;

}

.text-container h2{
  /* padding-top: 100px; */
  font-size: 40px;
  font-weight: bold;
  line-height: 47px;
}
.text-container p{
  margin-top: 24px;
  font-size: 16px;
  line-height: 26px;
  color:  var(--Dark 02, rgba(68, 67, 67, 1));;
}
.text-container ul{
  margin-top: 16px;
}
.text-container ul li{
  text-decoration: none;
  line-height: 26px;
}

.card1{
  margin-top: 250px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.card2{
  margin-top: 150px;
  background: url('images/gradient2.png');
  background-repeat: no-repeat;
  background-size: cover;
  /* padding-top: 50px; */
}

.card2 h1{
  margin-top: 60px;
  margin-left: 64px;
  width: 459px;
  height: 94px;
  font-style: Bold;
  font-size: 40px;
  font-weight: 700;
  line-height: 47px;
  letter-spacing: 0%;
  text-align: left;
  padding-top: 50px;

}
.card2 div{
  margin-top: 24px;
  margin-left: 64px;
  text-align: left;

}

.card2 div .btn2{
   color:rgba(241, 91, 34, 1);
   
}
